@charset "UTF-8";
/* Todas as demais mídias*/
/*Typical Device Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de  600 até 728px
Tablet: 768px até 992px
Desktop: até  1200px
Grande telas : acima de  12000px*/

/* Nesse exercicio ja fizemos uma versão  "style.css" para telas menores até  728px ,logo neste css " media-query.css" iremos colocar as configuração  apenas para as versões maiores okkk Corno"*/


@media print {/*IMPRESSÃO*/
body {
    background-image: url(../imagens/back-print.jpg);
}
    
}

@media screen and (min-width: 768px) and (max-width:992px) {
/* TABLET */
body {
    background-image: url(../imagens/back-tablet.jpg);
}
img#phone { display: none; }
img#tablet { display: block; }
img#pc { display: none;}
img#tv { display: none; }
img#print { display: none }
}
@media screen and (min-width: 992px) and (max-width:1200px) {
/* DESKTOP */
body {
    background-image: url(../imagens/back-pc.jpg);
}

img#phone {display:none;}
img#tablet {display:none;}
img#pc {display:block;}
img#tv {display:none;}
img#print {display:none}
}

@media screen and (min-width :1200px) {
     /* Grandes Telas*/
body{
    background-image: url(../imagens/back-tv.jpg);
}

img#phone {display:none;}
img#tablet {display:none;}
img#pc {display:none;}
img#tv {display:block;}
img#print {display:none}  
} 


